### Complexity Level - Simple

A lambda function in Python is an anonymous function that is defined using the lambda keyword. 
It is a way to create small, one-line functions without the need for a formal function definition. 
Lambda functions are commonly used when a simple function is needed for a short duration or as an argument to a higher-order function.

syntax of a lambda function

lambda arguments: expression

# For loop and List Comprehension and Lambda function

# Q1. Create a list of first 10 natural numbers

In [33]:
nat_num=list(range(1,11))
nat_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
for_nat_num=[]
for i in range(1,11):
    for_nat_num.append(i)
for_nat_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
lc_nat_num=[i for i in range(1,11)]
lc_nat_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
ld_nat_num=list(map(lambda x:x, range(1,11) ))
ld_nat_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Q2. Take the input of Q1 list display 

a. alternate number

b. only even numbers

c. numbers greater than 5

d. numbers divible by 4

# a. alternate number

In [74]:
print('method-1')

q1=[1,3,2,4,5,7,6,8,9,11,10,12]
al=[]
for i in range(len(q1)):
    if i%2==0:
        al.append(q1[i])
print(al)   
print('-'*50)


print('method-2')

for i in range(len(q1)):
    if i%2==0:
        print(q1[i])
print('-'*50)


print('method-3')

for num, i in enumerate(q1):
    if num%2==0:
        print(i)
print('-'*50)


print('method-',4)

a=[i for num,i in enumerate(q1) if num%2==0]
print(a)
print('-'*50)


print('method-',5)

b=[q1[i] for i in range(len(q1)) if i%2==0]
print(b)
print('-'*50)


print('method-',6)

c=list(filter(lambda x:q1.index(x)%2==0,q1))
print(c)
print('-'*50)


print('method-',7)

l=[]
def alt_num(Q1):
    for i in range(len(Q1)):
        if i%2==0:
            l.append(Q1[i])
    return    
alt_num(q1)
print(l)
print('-'*50)


print('method-',8)
def alt_num1(Q1):
    for i in range(len(Q1)):
        if i%2==0:
            print(Q1[i])
    return    
alt_num1(q1)
print('-'*50)


print('method-',9)
def alt_num2(Q1):
    for num, i in enumerate(Q1):
        if num%2==0:
            print(num)
    return
alt_num2(q1)

method-1
[1, 2, 5, 6, 9, 10]
--------------------------------------------------
method-2
1
2
5
6
9
10
--------------------------------------------------
method-3
1
2
5
6
9
10
--------------------------------------------------
method- 4
[1, 2, 5, 6, 9, 10]
--------------------------------------------------
method- 5
[1, 2, 5, 6, 9, 10]
--------------------------------------------------
method- 6
[1, 2, 5, 6, 9, 10]
--------------------------------------------------
method- 7
[1, 2, 5, 6, 9, 10]
--------------------------------------------------
method- 8
1
2
5
6
9
10
--------------------------------------------------
method- 9
0
2
4
6
8
10

# b. only even numbers
only remove len and enumerate

In [76]:
# here we are using filter because we have to extract some element from list 
b=list(filter(lambda x: x%2==0,q1))
b

[2, 4, 6, 8, 10, 12]

# c. numbers greater than 5
1. change the loop-------------remove len and enumerate
2. change the condition ------if i>5:

In [77]:
c=list(filter(lambda x: x>5,q1))
c

[7, 6, 8, 9, 11, 10, 12]

# d. numbers divible by 4
1. change the loop-------------remove len and enumerate
2. change the condition ---------if i%4==0

In [78]:
d= list(filter(lambda x: x%4==0,q1))
d

[4, 8, 12]

# Q3.Take the input of Q1 list and create a dictionary
a. Key as 1, 2, 3, 4, 5 and values as numbers divible by 1, numbers divible by 2, numbers divible by 3, numbers divible by 4, numbers divible by 5

b. Key as 1, 2, 3, 4, 5 and values as count of numbers divible by 1, count of numbers divible by 2, count of numbers divible by 3, count of numbers divible by 4, count of numbers divible by 5

In [152]:
print('method-1 using for loop')
div={}
for i in range (1,6):
    div[i]=[]
    for num in q1:
        if num%i==0:
            div[i].append(num)
print(div)
print('-'*50)


print('method-2 - list comprehension method')

div={}
for i in range(1,6):
    div[i]=[num for num in q1 if num%i==0]
print(div)
print('-'*50)


print('method-3 - list comprehension method')

div={i:[num for num in q1 if num%i==0] for i in range(1,6)}
print(div)
print('-'*50)


print('method-3 - lambda function')
div={i: list(filter(lambda x: x%i==0 , q1)) for i in range(1,6)}
print(div)
print('-'*50)


print('method-2 - lambda function')
div={}
for i in range(1,6):
        div[i]=list(filter(lambda x: x%i==0, q1))
print(div)

method-1 using for loop
{1: [1, 3, 2, 4, 5, 7, 6, 8, 9, 11, 10, 12], 2: [2, 4, 6, 8, 10, 12], 3: [3, 6, 9, 12], 4: [4, 8, 12], 5: [5, 10]}
--------------------------------------------------
method-2 - list comprehension method
{1: [1, 3, 2, 4, 5, 7, 6, 8, 9, 11, 10, 12], 2: [2, 4, 6, 8, 10, 12], 3: [3, 6, 9, 12], 4: [4, 8, 12], 5: [5, 10]}
--------------------------------------------------
method-3 - list comprehension method
{1: [1, 3, 2, 4, 5, 7, 6, 8, 9, 11, 10, 12], 2: [2, 4, 6, 8, 10, 12], 3: [3, 6, 9, 12], 4: [4, 8, 12], 5: [5, 10]}
--------------------------------------------------
method-3 - lambda function
{1: [1, 3, 2, 4, 5, 7, 6, 8, 9, 11, 10, 12], 2: [2, 4, 6, 8, 10, 12], 3: [3, 6, 9, 12], 4: [4, 8, 12], 5: [5, 10]}
--------------------------------------------------
method-2 - lambda function
{1: [1, 3, 2, 4, 5, 7, 6, 8, 9, 11, 10, 12], 2: [2, 4, 6, 8, 10, 12], 3: [3, 6, 9, 12], 4: [4, 8, 12], 5: [5, 10]}

# b. Key as 1, 2, 3, 4, 5 and values as count of numbers divible by 1, count of numbers divible by 2, count of numbers divible by 3, count of numbers divible by 4, count of numbers divible by 5

In [153]:
print('method-1 using for loop')
div_cou={}
for i in range(1,6):
    count=0
    div_cou[i]=[]
    for num in q1:
        if num%i==0:
            count+=1
            div_cou[i]=count
print(div_cou)     
print('-'*50)


print('method-2 - list comprehension method')
div_com={i:sum(1 for num in q1 if num%i==0) for i in range(1,6)}
print(div_cou)
print('-'*50)


print('method-3 - lambda function')
div_cou={i: sum(map(lambda x: x%i==0,q1)) for i in range(1,6)}
print(div_cou)

method-1 using for loop
{1: 12, 2: 6, 3: 4, 4: 3, 5: 2}
--------------------------------------------------
method-2 - list comprehension method
{1: 12, 2: 6, 3: 4, 4: 3, 5: 2}
--------------------------------------------------
method-3 - lambda function
{1: 12, 2: 6, 3: 4, 4: 3, 5: 2}

# Q4. Write a function to check if the given number is prime or not.

In [156]:
number=int(input('Enter a Number: '))
def is_prime(number):
    if number<2:
        return 'not prime'
    for i in range(2,number):
        if number%i==0:
            return 'not prime'
    return 'prime'
print(is_prime(number))

Enter a Number: 12
not prime

# Q5. Use the function created in Q4 and create a dictionary where keys are 'prime' and 'non-prime' and values are list of prime numbers and non-prime number respectively in given range.

In [17]:
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, number):
        if number % i == 0:
            return False
    return True

range_start = int(input('Enter the starting number of the range: '))
range_end = int(input('Enter the ending number of the range: '))

numbers_dict = {'prime': [], 'non-prime': []}

for num in range(range_start, range_end + 1):
    if is_prime(num):
        numbers_dict['prime'].append(num)
    else:
        numbers_dict['non-prime'].append(num)

print(numbers_dict)

Enter the starting number of the range: 12
Enter the ending number of the range: 19
{'prime': [13, 17, 19], 'non-prime': [12, 14, 15, 16, 18]}

# Use the function created in Q4 and create a dictionary where keys are 'prime' and 'non-prime' and values are count of prime numbers and non-prime numbers respectively.

In [158]:
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, number):
        if number % i == 0:
            return False
    return True

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

count_dict = {'prime': 0, 'non-prime': 0}

for num in numbers:
    if is_prime(num):
        count_dict['prime'] += 1
    else:
        count_dict['non-prime'] += 1

print(count_dict)

{'prime': 4, 'non-prime': 6}

# Divide the each number by 5, round the result to 2 decimal places

In [160]:
numbers = [10, 11, 20, 22, 30]

result = [round(num / 5, 2) for num in numbers]

print(result)

[2.0, 2.2, 4.0, 4.4, 6.0]

# a. alternate number

In [38]:
q=[12, 21, 3, 4, 1, 61, 7, 80, 90, 10]
for_alt_num=[]
for i in range(len(q)):
    if i%2==0:
        for_alt_num.append(q[i])
for_alt_num

[12, 3, 1, 7, 90]

In [2]:
for_alt_num=[]
for i,num in (enumerate(q)):
    if i%2==0:
        for_alt_num.append(num)
for_alt_num

[12, 3, 1, 7, 90]

In [3]:
lc_alt_num=[q[i] for i in range (len(q)) if i%2==0]
lc_alt_num

[12, 3, 1, 7, 90]

In [4]:
ld_alt_num=list(filter(lambda x : q.index(x)%2==0,q))
ld_alt_num

[12, 3, 1, 7, 90]

# b. only even numbers

In [5]:
for_eve_num=[]
for i in q:
    if i%2==0:
        for_eve_num.append(i)
for_eve_num

[12, 4, 80, 90, 10]

In [6]:
lc_eve_num=[i for i in q if i%2==0]
lc_eve_num

[12, 4, 80, 90, 10]

In [7]:
ld_eve_num=list(filter(lambda x : x%2==0, q))
ld_eve_num

[12, 4, 80, 90, 10]

# c. numbers greater than 5

In [8]:
for_gre_num5=[]
for i in q:
    if i>5:
        for_gre_num5.append(i)
for_gre_num5

[12, 21, 61, 7, 80, 90, 10]

In [9]:
lc_gre_num5=[i for i in q if i>5]
lc_gre_num5

[12, 21, 61, 7, 80, 90, 10]

In [10]:
ld_gre_num5=list(filter(lambda x: x>5, q))
ld_gre_num5

[12, 21, 61, 7, 80, 90, 10]

# d. numbers divible by 4

In [11]:
for_div_num4=[]
for i in q:
    if i%4==0:
        for_div_num4.append(i)
for_div_num4

[12, 4, 80]

In [12]:
lc_div_num4=[i for i in q if i%4==0]
lc_div_num4

[12, 4, 80]

In [14]:
ld_div_num4=list(filter(lambda x:x%4==0,q))
ld_div_num4

[12, 4, 80]

# Q3.Take the input of Q1 list and create a dictionary 
a. Key as 1, 2, 3, 4, 5 and values as numbers divible by 1, numbers divible by 2, numbers divible by 3, numbers divible by 4, numbers divible by 5

b. Key as 1, 2, 3, 4, 5 and values as count of numbers divible by 1, count of numbers divible by 2, count of numbers divible by 3, count of numbers divible by 4, count of numbers divible by 5

In [9]:
for_div_dic={}
for i in range(1,6):
    for_div_dic[i]=[]
    for num in q:
        if num%i==0:
            for_div_dic[i].append(num)
for_div_dic

{1: [12, 21, 3, 4, 1, 61, 7, 80, 90, 10],
 2: [12, 4, 80, 90, 10],
 3: [12, 21, 3, 90],
 4: [12, 4, 80],
 5: [80, 90, 10]}

In [14]:
d={}
for i in range (1,6):
    d[i]=[num for num in q if num%i==0]
d

{1: [12, 21, 3, 4, 1, 61, 7, 80, 90, 10],
 2: [12, 4, 80, 90, 10],
 3: [12, 21, 3, 90],
 4: [12, 4, 80],
 5: [80, 90, 10]}

In [11]:
lc_div_dic={i:[num for num in q if num%i==0 ] for i in range(1,6)}
lc_div_dic

{1: [12, 21, 3, 4, 1, 61, 7, 80, 90, 10],
 2: [12, 4, 80, 90, 10],
 3: [12, 21, 3, 90],
 4: [12, 4, 80],
 5: [80, 90, 10]}

In [12]:
ld_div_dic={i : list(filter(lambda x : x%i==0, q))for i in range(1,6)}
ld_div_dic

{1: [12, 21, 3, 4, 1, 61, 7, 80, 90, 10],
 2: [12, 4, 80, 90, 10],
 3: [12, 21, 3, 90],
 4: [12, 4, 80],
 5: [80, 90, 10]}

# b. Key as 1, 2, 3, 4, 5 and values as count of numbers divible by 1, count of numbers divible by 2, count of numbers divible by 3, count of numbers divible by 4, count of numbers divible by 5

In [51]:
q=[12, 21, 3, 4, 1, 61, 7, 80, 90, 10]
for_div_count={}
for i in range(1,6):
    for_div_count[i]=[]
    for num in q:
        if num%i==0:
            for_div_count[i].append(num)
for_div_count={key:len(values) for key, values in for_div_count.items()}
for_div_count

{1: 10, 2: 5, 3: 4, 4: 3, 5: 3}

In [57]:
q=[12, 21, 3, 4, 1, 61, 7, 80, 90, 10]
for_div_count={}
for i in range (1,6):
    count=0
    for num in q:
        if num%i==0:
            count+=1
    for_div_count[i]=count
for_div_count

{1: 10, 2: 5, 3: 4, 4: 3, 5: 3}

In [53]:
lc_div_count={i: sum(1 for num in q if num%i==0) for i in range(1,6)}
lc_div_count

{1: 10, 2: 5, 3: 4, 4: 3, 5: 3}

In [60]:
ld_div_count={i: sum(map(lambda x: x%i==0,q))for i in range(1,6)}
ld_div_count

{1: 10, 2: 5, 3: 4, 4: 3, 5: 3}

# Q4. Write a function to check if the given number is prime or not.

In [137]:
def is_prime(number):
    if number < 2:
        return 'Not Prime'

    for i in range(2, number):
        if number % i == 0:
            return 'Not Prime'

    return 'Prime'
number = int(input('Enter a number: '))
result = is_prime(number)
print(result)

Enter a number: 364
Not Prime

In [78]:
def is_even_or_odd(number):
    if number % 2 == 0:
        return 'even'
    else:
        return 'odd'

number = int(input('Enter a number: '))
result = is_even_or_odd(number)
print(result)

Enter a number: 21
odd

Q9. Generate a list with 20 random number between 1 to 100. Display the list in order

In [161]:
import random

random_numbers = random.sample(range(1, 101), 20)
random_numbers.sort()

print(random_numbers)

[3, 5, 10, 11, 13, 16, 23, 29, 34, 39, 47, 49, 52, 54, 63, 68, 71, 75, 83, 94]

Q10. Find mean, mode and median of the list generated in Q9.

In [ ]:
fib=[0,1]
num=int(input('Enter a Number: '))
for i in range (2,num):
    fib.append(fib[i-1]+fib[i-2])
print(fib)

num1=input('Enter a Number: ')
sum1=0
for i in num1:
    sum1+=int(i)**len(num1)
num1=int(num1)
if num1==sum1:
    print ('armstrong number')
else:
    print('not')

Q11. Generate the frequncy  table for the list generated in Q9.

In [1]:
a=['ase','rte']
output = [char for word in a for char in word]
print(output)
type(output)

a = ['ase', 'rte']
output = ''.join([char for word in a for char in word])
print(output)
type(output)

['a', 's', 'e', 'r', 't', 'e']
aserte

str

Q12. Generate a list of 7 strings store it as list_word.
list_word = ['a','abc','p','pqr','x','xyz','apple','pear']
Sort the list with respct to length of the string

In [3]:
list_word = ['a','abc','p','pqr','x','xyz','apple','pear']
list_word.sort(key=len,reverse=True)
print(list_word)

list_word1=sorted(list_word,key=len,reverse=True)
print(list_word1)

['apple', 'pear', 'abc', 'pqr', 'xyz', 'a', 'p', 'x']
['apple', 'pear', 'abc', 'pqr', 'xyz', 'a', 'p', 'x']

Q13. Use list_word, display the first letter in capital case.

In [54]:
list_word = ['a', 'abc', 'p', 'pqr', 'x', 'xyz', 'apple', 'pear']
capitalized_list = [word.capitalize() for word in list_word]
print(capitalized_list)


a='stronr'
b=a.capitalize()
b

['A', 'Abc', 'P', 'Pqr', 'X', 'Xyz', 'Apple', 'Pear']

'Stronr'

Q14. Sort list_word with respect to last letter

In [57]:
list_word = ['yyza','abc','pop','pqr','x','xyza','apple','pea']
list_word1=sorted(list_word, key=lambda x:x[-1])
list_word1

['yyza', 'xyza', 'pea', 'abc', 'apple', 'pop', 'pqr', 'x']

Q15. Create a list of word lengths of list_word. a. Use loop b. Use list comprehension

In [60]:
list_word = ['abcd', 'abc', 'p', 'pqr', 'x', 'xyz', 'apple', 'pear']
word_lengths = [len(word) for word in list_word]
print(word_lengths)
len(list_word)

[4, 3, 1, 3, 1, 3, 5, 4]

8

In [84]:
l=[]
list_word = ['abcd', 'abc', 'p', 'pqr', 'x', 'xyz', 'apple', 'pear']
for word in list_word:
    count = len(word)
    l.append(count)
l

[4, 3, 1, 3, 1, 3, 5, 4]

Q16. Create a dictionary with word length as key and list of words with same length as values.

In [91]:
d = {}
list_word = ['abcd', 'abc', 'p', 'pqr', 'x', 'xyz', 'apple', 'pear']

for word in list_word:
    count = len(word)
    if count in d:
        d[count].append(word)
    else:
        d[count] = [word]
print(d)

{4: ['abcd', 'pear'], 3: ['abc', 'pqr', 'xyz'], 1: ['p', 'x'], 5: ['apple']}

Q17. Filter the words with length more than 1

In [92]:
list_word = ['a', 'abc', 'p', 'pqr', 'x', 'xyz', 'apple', 'pear']

filtered_words = [word for word in list_word if len(word) > 1]

print(filtered_words)

['abc', 'pqr', 'xyz', 'apple', 'pear']

Q18. Consider the below list list_2 = ['Cherry' , 'Banana' , 'Apple' , 'Mango' , 'Pear']. Find out the common elements of list_word and list_2. 

a. Use loops 

b. Use sets 

c. Use lambda function

In [161]:
list_1 = ['a', 'abc', 'p', 'pqr', 'x', 'xyz', 'apple', 'pear']
list_2 = ['Cherry' , 'Banana' , 'Apple' , 'Mango' , 'Pear']
for i in list_1:
    for j in list_2:
        if i==j:
            print(i)
print(i)

print('-'*100 ,'\nlowercase convert')


list_1 = ['a', 'abc', 'p', 'pqr', 'x', 'xyz', 'apple', 'pear']
list_2 = ['Cherry' , 'Banana' , 'Apple' , 'Mango' , 'Pear']
for i in list_1:
    for j in list_2:
        if i==j.lower():
            print(i)
print('-'*100)


print('method-2 - using sets')
list_1 = ['a', 'abc', 'p', 'pqr', 'x', 'xyz', 'apple', 'pear']
list_2 = ['Cherry', 'Banana', 'Apple', 'Mango', 'Pear']

s1 = set(list_1)
s2 = set(word.lower() for word in list_2)
s3 = s1.intersection(s2)
print(s3)

print('-'*100)


print('method-3 - using lambda function')
a=[i for i in filter(lambda x:x.lower() in list_1 , list_2)]
a

pear
----------------------------------------------------------------------------------------------------
lowercase convert
apple
pear
----------------------------------------------------------------------------------------------------
method-2 - using sets
{'pear', 'apple'}
----------------------------------------------------------------------------------------------------
method-3 - using lambda function

['Apple', 'Pear']

Q19. For every word in list_2 replace each letter by its next letter. Letters at odd places should be replaced as capital letters.

In [164]:
list_1 = ['a', 'abc', 'p', 'pqr', 'x', 'xyz', 'apple', 'pear']
list_2 = ['Cherry' , 'Banana' , 'Apple' , 'Mango' , 'Pear']
s1=set(list_1)            
s2=set(word.lower() for word in list_2)            
s1.difference_update(s2)
print(s1)

print('-'*100)


print('method-2 - using difference')
s1 = set(list_1)
s2 = set(word.lower() for word in list_2)
s3 = s1.difference(s2)

print(s3)

{'abc', 'p', 'pqr', 'x', 'a', 'xyz'}
----------------------------------------------------------------------------------------------------
method-2 - using difference
{'abc', 'p', 'pqr', 'x', 'a', 'xyz'}

Q21. Find out unique letters used in list_2

In [165]:
list_2 = ['Cherry', 'Banana', 'Apple', 'Mango', 'Pear']

unique_letters = set()

for word in list_2:
    for letter in word.lower():
        unique_letters.add(letter)

print(unique_letters)

{'h', 'r', 'p', 'n', 'g', 'y', 'e', 'l', 'c', 'm', 'a', 'b', 'o'}

In [10]:
list_2 = ['Cherry', 'Banana', 'Apple', 'Mango', 'Pear']
list_2=''.join(list_2)
list_2=list_2.lower()
set2=set(list_2)
set2

{'a', 'b', 'c', 'e', 'g', 'h', 'l', 'm', 'n', 'o', 'p', 'r', 'y'}

Q22. Display the words in the list_2 eliminating vowels.

In [14]:
li=[]
for word in list_2:
    modified_word=''
    for letter in word:
        if letter.lower() not in 'aeiou':
            modified_word+=letter
    li.append(modified_word)

Q23. Create a list of words with reverse order with words in the list_2

In [228]:
for word in list_2:
    modified_word=''
    for letter in word:
        if letter.lower() not in 'aeiou':
            modified_word+=letter
            modified_word
print(modified_word)

Pr

In [3]:
l1=[2,3,5]
l2=[5,7,8]
l1=set(l1)
l2=set(l2)
l3=l1.union(l2)
l3=list(l3)
l3

[2, 3, 5, 7, 8]

In [7]:
l1=[2,3,5]
l2=[5,7,8]
l3=[]
for i in l2:
    if i not in l1:
        l1.append(i)
l1

[2, 3, 5, 7, 8]

In [36]:
a='harshal jain'
b=a.split()
b=list(reversed(b))
b=' ' .join(b)
b

'jain harshal'

In [37]:
a = 'harshal jain'
b = a[a.index(' ') + 1:] + ' ' + a[:a.index(' ')]
b

'jain harshal'

In [17]:
a='harshal jain'
b=a.split()
b = ' '.join(b[::-1])
b

'jain harshal'

In [22]:
a='harshal jain'
b=a.split()
c=b[::-1]
' ' .join(c)

'jain harshal'

In [44]:
a=['12','32','42']
b= '' .join(a)
b

'123242'

## Complexity level - Medium

Q1. For any given string find out, is it a palindrome

In [3]:
str1=input('Enter a String: ')
str1=str1.lower()
str2=str1[::-1]
if str1==str2:
    print('it is a palindrome')
else:
    print('is not a palindrome')

Enter a String: Asdfgh
is not a palindrome

Q2. Reverse the given number.

In [9]:
num=int(input('Enter a Number'))
num=str(num)
num=num[::-1]
num1=int(num)
num1

Enter a Number1997

7991

Q6. Generate 2 random numbers and display product of their common factors?

In [1]:
l1=['a','b','c']
l2=['d','e','f']
c.extend(d)

Q7. Create the following series 0,1,3,6,10,15......

1. Accept a number n from the user and check is it part of the series

2. Accept a number n from the user and generate nth number of the series

In [51]:
def rev(s):
    result=''
    for i in s:
        result=i+result
    return result
s='harshal'
rev(s)

In [10]:
a='jaldikar'
b=''.join(reversed(a))
b

'rakidlaj'

In [43]:
s='wh*r* *s m*'
s=list(s)
z='eeiy'
z=list(z)
e=[]
# for i,a in enumerate(s):
#     if a=='*':
#         e.append(i)
# for i in range() : 
#     s.insert(e[i],z[i])
# s

In [45]:
a=[]
b=[]
c=[]
for num, i in enumerate(s):
    if i=='*':
        a.append(num)
        b.append(i)
        for j in range (len(s)):
            s.insert(a[j],b[j])
c

IndexError: list index out of range

In [19]:
z[i]

'y'

In [46]:
s

['w', 'h', '*', 'r', '*', ' ', '*', 's', ' ', 'm', '*']

In [64]:
e

[0, 1, 2]

In [39]:

for j in range(len(e)): 
    s.insert(e[j],z[j])
s

['w', 'h', '*', 'r', '*', ' ', '*', 's', ' ', 'm', '*']

In [32]:
l.index('e')

0